@model IEnumerable<RestaurantReviews.Models.Review>
@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model) {

                    <div class="post-preview">
                        <a asp-controller="Reviews" asp-action="Details" asp-route-id="@item.Id">
                            <h2 class="post-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                            <h3 class="post-subtitle">@Html.DisplayFor(modelItem => item.Bullet)</h3>
                            </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on @Html.DisplayFor(modelItem => item.CreatedDate)
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
}
